<span><a routerLink="">Chat App</a></span>
<span class="spacer"></span>
<nb-actions size="small">
  <!-- <nb-action icon="search-outline"></nb-action>
        <nb-action icon="power-outline"></nb-action>
        <nb-action icon="person-outline"></nb-action>
        <nb-action icon="home-outline"></nb-action> -->
  <nb-action
    icon="settings-2-outline"
    nbButton
    [nbContextMenu]="settingContextMenuItems"
  ></nb-action>
  <nb-action>
    <nb-search type="rotate-layout"></nb-search>
  </nb-action>
</nb-actions>
