<nb-layout>
  <nb-layout-header fixed>
    <span>Chat App</span>
    <span class="spacer"></span>
    <span><nb-search type="rotate-layout"></nb-search></span>
  </nb-layout-header>

  <nb-sidebar
    ><nb-list>
      <nb-list-item *ngFor="let item of items">
        {{ item }}
      </nb-list-item>
    </nb-list></nb-sidebar
  >
  <nb-layout-column>
    <nb-chat title="Nebular Conversational UI" size="medium">
      <nb-chat-message
        *ngFor="let msg of messages"
        [type]="'text'"
        [message]="msg.text"
        [reply]="msg.reply"
        [sender]="msg.user.name"
        [date]="msg.date"
        [avatar]="msg.user.avatar"
      >
      </nb-chat-message>

      <nb-chat-form (send)="sendMessage($event)" [dropFiles]="true">
      </nb-chat-form> </nb-chat
  ></nb-layout-column>
</nb-layout>
