@import "~@nebular/theme/styles/theming";
@import "~@nebular/theme/styles/themes/dark";

$nb-themes: nb-register-theme(
  (
    color-primary-100: #e6e7fe,
    color-primary-200: #cecffd,
    color-primary-300: #b4b6fa,
    color-primary-400: #9fa2f6,
    color-primary-500: #8083f1,
    color-primary-600: #5d60cf,
    color-primary-700: #4042ad,
    color-primary-800: #282a8b,
    color-primary-900: #181973,
    color-primary-transparent-100: rgba(128, 131, 241, 0.08),
    color-primary-transparent-200: rgba(128, 131, 241, 0.16),
    color-primary-transparent-300: rgba(128, 131, 241, 0.24),
    color-primary-transparent-400: rgba(128, 131, 241, 0.32),
    color-primary-transparent-500: rgba(128, 131, 241, 0.4),
    color-primary-transparent-600: rgba(128, 131, 241, 0.48),
    color-success-100: #f3fcd1,
    color-success-200: #e3faa5,
    color-success-300: #ccf176,
    color-success-400: #b2e452,
    color-success-500: #8ed31f,
    color-success-600: #72b516,
    color-success-700: #59970f,
    color-success-800: #427a09,
    color-success-900: #316505,
    color-success-transparent-100: rgba(142, 211, 31, 0.08),
    color-success-transparent-200: rgba(142, 211, 31, 0.16),
    color-success-transparent-300: rgba(142, 211, 31, 0.24),
    color-success-transparent-400: rgba(142, 211, 31, 0.32),
    color-success-transparent-500: rgba(142, 211, 31, 0.4),
    color-success-transparent-600: rgba(142, 211, 31, 0.48),
    color-info-100: #d7fef6,
    color-info-200: #b1fdf3,
    color-info-300: #89f9f4,
    color-info-400: #6aeef4,
    color-info-500: #3bd8ed,
    color-info-600: #2baccb,
    color-info-700: #1d83aa,
    color-info-800: #125f89,
    color-info-900: #0b4471,
    color-info-transparent-100: rgba(59, 216, 237, 0.08),
    color-info-transparent-200: rgba(59, 216, 237, 0.16),
    color-info-transparent-300: rgba(59, 216, 237, 0.24),
    color-info-transparent-400: rgba(59, 216, 237, 0.32),
    color-info-transparent-500: rgba(59, 216, 237, 0.4),
    color-info-transparent-600: rgba(59, 216, 237, 0.48),
    color-warning-100: #fef4d4,
    color-warning-200: #fee6aa,
    color-warning-300: #fdd380,
    color-warning-400: #fbc160,
    color-warning-500: #f9a42c,
    color-warning-600: #d68320,
    color-warning-700: #b36416,
    color-warning-800: #90490e,
    color-warning-900: #773608,
    color-warning-transparent-100: rgba(249, 164, 44, 0.08),
    color-warning-transparent-200: rgba(249, 164, 44, 0.16),
    color-warning-transparent-300: rgba(249, 164, 44, 0.24),
    color-warning-transparent-400: rgba(249, 164, 44, 0.32),
    color-warning-transparent-500: rgba(249, 164, 44, 0.4),
    color-warning-transparent-600: rgba(249, 164, 44, 0.48),
    color-danger-100: #ffe6d8,
    color-danger-200: #ffc8b2,
    color-danger-300: #ffa38b,
    color-danger-400: #ff806f,
    color-danger-500: #ff463f,
    color-danger-600: #db2e36,
    color-danger-700: #b71f33,
    color-danger-800: #93142f,
    color-danger-900: #7a0c2d,
    color-danger-transparent-100: rgba(255, 70, 63, 0.08),
    color-danger-transparent-200: rgba(255, 70, 63, 0.16),
    color-danger-transparent-300: rgba(255, 70, 63, 0.24),
    color-danger-transparent-400: rgba(255, 70, 63, 0.32),
    color-danger-transparent-500: rgba(255, 70, 63, 0.4),
    color-danger-transparent-600: rgba(255, 70, 63, 0.48),
  ),
  default,
  dark
);
